/* Apply some basic styling to the body and html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Set the body to use flexbox to create a column layout */
body {
  color: var(--gray-color);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--general-font);
  background-image: url(images/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

:root {
  --gray-color: #545454;
  --background-color: #f8f7f6;
  --general-font: 1.2rem;
  --light-blue: #1e90ff;
  --light-gray: #dcdcdc;
  --border-radius: 10px;
  --input-border-radius: 50px;
  --padding-x: 0.5rem;
  --padding-y: 0.2rem;
  --screen: 100vw;
  --orange: #d59a4c;
  --gray: #a6a6a6;
}

.todo-icon {
  font-size: 3rem;
}

.top-div {
  width: 80%;
  background: var(--background-color);
  display: grid;
  justify-items: center;
  height: 8rem;
  gap: 1rem;
  border-radius: var(--border-radius);
  padding: 1rem 0;
  margin-bottom: 1.3rem;
  margin-top: -14rem;
}

.numTodos {
  font-size: 1.5rem;
  color: var(--gray-color);
}

/* Input field */
input,
.submit-button {
  font-size: var(--general-font);
  border: 5px solid var(--light-gray);
}

.input-field {
  width: 100%;
  display: inline-block;
  border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
  padding: 0.2rem 1rem;
  border-right: none;
}

input:focus {
  outline: none;
  background-color: var(--light-gray);
}

.submit-button {
  color: var(--light-gray);
  padding: 0 0.4rem;
  display: inline-block;
  background-color: var(--gray-color);
  color: var(--light-gray);
  border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
  padding: var(--padding-y) var(--padding-x);
  border-left: none;
}

.submit-button:hover {
  background-color: var(--orange);
}

.input-button-container {
  width: 78%;
  display: flex;
  align-items: center;
  border-radius: var(--input-border-radius) var(--input-border-radius);
  margin-top: 2rem;
  margin: 0 auto;
  margin-bottom: 1.3rem;
  /* display: none; */
}

div.text {
  font-size: 1rem;
  width: 70%;
  overflow: scroll;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  border: 2px solid var(--gray);
  border-radius: 5px;
  transform: scale(1.2);
  margin-right: 1rem;
}

.check-mark {
  font-size: 2rem;
  transform: scale(0.9);
  color: var(--orange);
  position: absolute;
  margin-bottom: 0.5rem;
  display: none;
}

.checkbox-icon {
  display: flex;
  align-items: center;
}

.div-checkbox-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.div-checkbox-containers-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0 2rem;
  width: 80%;
  max-height: 48%;
  overflow-y: scroll;
  position: absolute;
  top: 51%;
  padding-bottom: 1rem;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.3rem;
}

/* Styles for portrait orientation on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  body,
  input,
  .submit-button {
    font-size: 1.5rem;
  }

  .top-div {
    height: 8rem;
    margin-top: -35rem;
  }

  div.text {
    font-size: 1.5rem;
  }

  .input-button-container {
    margin-top: 0.9rem;
  }

  .div-checkbox-containers-parent {
    top: 35.5%;
  }

  .input-field {
    padding: 0.4rem 1rem;
  }

  .submit-button {
    padding: 0.4rem 0.8rem;
  }

  .input-button-container {
    width: 80%;
  }

  .div-checkbox-containers-parent {
    max-height: 60%;
  }
}

/* Styles for portrait orientation on tablets */
@media only screen and (min-width: 800px) and (max-width: 1023px) and (orientation: portrait) {
  body,
  input,
  .submit-button {
    font-size: 1.5rem;
  }

  .top-div {
    margin-top: -46rem;
  }

  .div-checkbox-containers-parent {
    top: 31.7%;
  }

  .div-checkbox-containers-parent {
    gap: 2.5rem;
    max-height: 65%;
  }
}

/* Styles for portrait orientation on tablets */
@media only screen and (min-width: 820px) and (max-width: 1023px) and (orientation: portrait) {
  .input-button-container {
    margin-top: 0.9rem;
  }

  .div-checkbox-containers-parent {
    top: 37.7%;
  }

  .div-checkbox-containers-parent {
    max-height: 60%;
  }

  .div-checkbox-containers-parent {
    gap: 2rem;
  }
}

@media only screen and (min-width: 884px) and (max-width: 1023px) and (orientation: portrait) {
  .top-div {
    margin-top: -36rem;
  }

  .input-button-container {
    margin-top: 0.9rem;
  }

  .div-checkbox-containers-parent {
    top: 36.5%;
  }

  .div-checkbox-containers-parent {
    max-height: 60%;
  }

  .div-checkbox-containers-parent {
    gap: 2.5rem;
  }
}

/* Styles for landscape orientation on desktop */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .div-checkbox-container {
    width: 48.8%;
  }

  .input-field {
    padding: 0.6rem 1rem;
  }

  .submit-button {
    padding: 0.6rem 1rem;
  }

  .input-button-container {
    width: 80%;
  }

  .div-checkbox-containers-parent {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* Styles for landscape orientation on desktop */
@media only screen and (min-width: 1440px) and (orientation: landscape) {
  .div-checkbox-container {
    width: 48.95%;
  }
}

/* Styles for landscape orientation on desktop */
@media only screen and (min-width: 1728px) and (orientation: landscape) {
  .div-checkbox-container {
    width: 49.1%;
  }
}

/* Styles for landscape orientation on desktop */
@media only screen and (min-width: 2040px) and (orientation: landscape) {
  .div-checkbox-container {
    width: 49.2%;
  }
}

/* Styles for landscape orientation on desktop */
@media only screen and (min-width: 1920px) and (orientation: landscape) {
  body,
  input,
  .submit-button {
    font-size: 2rem;
  }

  .todo-icon {
    font-size: 4rem;
  }

  .top-div {
    height: 10.5rem;
    margin-top: -35rem;
  }

  div.text {
    font-size: 1.5rem;
  }

  .input-button-container {
    margin-top: 0.9rem;
  }

  .div-checkbox-containers-parent {
    top: 41%;
  }

  .input-field {
    padding: 0.6rem 1rem;
  }

  .submit-button {
    padding: 0.6rem 1.5rem;
  }

  .input-button-container {
    width: 80%;
  }

  .div-checkbox-containers-parent {
    max-height: 60%;
  }
}

/* Styles for landscape orientation on tablets */
@media only screen and (min-width: 300px) and (max-width: 1023px) and (orientation: landscape) {
  body {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

    body,
  input,
  .submit-button {
    font-size: 1.5rem;
  }

  div.text {
    font-size: 1.5rem;
  }

  .input-field {
    padding: 0.4rem 1rem;
  }

  .submit-button {
    padding: 0.4rem 0.8rem;
  }

  .top-div {
    width: 100%;
    height: 60vh;
    padding: 1rem;
    grid-area: b;
    position: relative;
    margin: 0rem;
    max-height: 72%;
    top: -0.6rem;
  }

  .input-button-container {
    width: 100%;
    margin:0;
    grid-area: a;
  }

  .div-checkbox-container {
  width: 30rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  margin: 0rem;
}

  .div-checkbox-containers-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    grid-area: c;
    max-height: 78%;
    top: -0.6rem;
  }

  .container {
    width: 100%;
    height: 0vh !important;
    display: grid;
    gap: 0.8rem !important;
    grid-template-areas: "a a a a a a" "b b c c c c";
    align-content: center;
    margin-top: 1rem;
  }
}

/* Styles for landscape orientation on tablets */
@media only screen and (min-width: 800px) and (orientation: landscape) {
   body {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

    body,
  input,
  .submit-button {
    font-size: 1.5rem;
  }

  div.text {
    font-size: 1.5rem;
  }

  .input-field {
    padding: 0.4rem 1rem;
  }

  .submit-button {
    padding: 0.4rem 0.8rem;
  }

  .top-div {
    width: 100%;
    height: 40rem;
    padding: 1rem;
    grid-area: b;
    position: relative;
    margin: 0rem;
    max-height: 72%;
    top: -0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .input-button-container {
    width: 100%;
    margin:0;
    position: relative;
    top: 1rem;
    grid-area: a;
  }

  .div-checkbox-container {
  width: 50rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  margin: 0rem;
}

  .div-checkbox-containers-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    grid-area: c;
    max-height: 31rem;
    top: -0.55rem;
  }

  .container {
    width: 100%;
    height: 0vh !important;
    display: grid;
    gap: 0.8rem !important;
    grid-template-areas: "a a a a a a" "b b c c c c";
    align-content: center;
    margin-top: 1rem;
  }
}
